<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Products List</h6>
        <a href="">Show All</a>
      </div>
      <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
          <thead>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              #
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              Name
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              Email
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900" style="text-align: center;">Option</th>
          </thead>
          <tbody *ngFor="let product of products">
            <tr>
              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                {{product.id}}
              </td>
              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                {{product.firstname }}
              </td>
              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                {{product.email}}
              </td>
              <td style="text-align: center; ">

                <button class="btn btn-danger" (click)="handleDelete(product.id)">Delete</button>
  
              </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>