<div class="container-xxl position-relative bg-white d-flex p-0">

    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
          <a href="" [routerLink]="['/']" class="navbar-brand mx-4 mb-3">
            <img src="assets/images/logo/logo_1x.png" srcset="assets/images/logo/logo_2x.png 2x" alt>
        </a>
          <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
              <img class="rounded-circle" src="https://img.freepik.com/free-psd/3d-rendering-avatar_23-2150833560.jpg?size=338&ext=jpg&ga=GA1.1.553209589.1714003200&semt=ais" alt="" style="width: 40px; height: 40px;">
              <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
              </div>
            </div>
            <div class="ms-3">
              <h6 class="mb-0">Admin Hieu</h6>
              <span>Admin</span>
            </div>
          </div>
          <div class="navbar-nav w-100">
            <a href="/admin" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Products List</a>
            <a href="/admin/create" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Product Create</a>
            <a href="/admin/category" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Category</a>
            <a href="/admin/users" class="nav-item nav-link"><i class="fa fa-table me-2"></i>User</a>
            <a href="chart" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2 "></i>Charts</a>
          </div>
        </nav>
    </div>

    <div class="content">

        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="/" class="back-home" ><i class="bi bi-house"></i></a>
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
              <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
              <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4"  >
              <input class="form-control border-0" type="search" placeholder="Search"   >
            </form>
            <div class="navbar-nav align-items-center ms-auto">
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa fa-envelope me-lg-2"></i>
                  <span class="d-none d-lg-inline-flex">Message</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                  <a href="#" class="dropdown-item">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" src="https://img.freepik.com/free-psd/3d-rendering-avatar_23-2150833560.jpg?size=338&ext=jpg&ga=GA1.1.553209589.1714003200&semt=ais" alt="" style="width: 40px; height: 40px;">
                      <div class="ms-2">
                        <h6 class="fw-normal mb-0">Hieu send you a message</h6>
                        <small>15 minutes ago</small>
                      </div>
                    </div>
                  </a>
                  <hr class="dropdown-divider">
                  <a href="#" class="dropdown-item">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" src="https://img.freepik.com/free-psd/3d-rendering-avatar_23-2150833560.jpg?size=338&ext=jpg&ga=GA1.1.553209589.1714003200&semt=ais" alt="" style="width: 40px; height: 40px;">
                      <div class="ms-2">
                        <h6 class="fw-normal mb-0">Hieu send you a message</h6>
                        <small>15 minutes ago</small>
                      </div>
                    </div>
                  </a>
                  <hr class="dropdown-divider">
                  <a href="#" class="dropdown-item">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" src="https://img.freepik.com/free-psd/3d-rendering-avatar_23-2150833560.jpg?size=338&ext=jpg&ga=GA1.1.553209589.1714003200&semt=ais" alt="" style="width: 40px; height: 40px;">
                      <div class="ms-2">
                        <h6 class="fw-normal mb-0">Hieu send you a message</h6>
                        <small>15 minutes ago</small>
                      </div>
                    </div>
                  </a>
                  <hr class="dropdown-divider">
                  <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
              </div>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa fa-bell me-lg-2"></i>
                  <span class="d-none d-lg-inline-flex">Notificatin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                  <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Profile updated</h6>
                    <small>15 minutes ago</small>
                  </a>
                  <hr class="dropdown-divider">
                  <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">New sy added</h6>
                    <small>15 minutes ago</small>
                  </a>
                  <hr class="dropdown-divider">
                  <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Password changed</h6>
                    <small>15 minutes ago</small>
                  </a>
                  <hr class="dropdown-divider">
                  <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
              </div>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                  <img class="rounded-circle me-lg-2" src="https://img.freepik.com/free-psd/3d-rendering-avatar_23-2150833560.jpg?size=338&ext=jpg&ga=GA1.1.553209589.1714003200&semt=ais" alt=""
                    style="width: 40px; height: 40px;">
                  <span class="d-none d-lg-inline-flex">Admin Hieu</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                  <a href="/signin" class="dropdown-item">Sign In</a>
                  <a href="/signup" class="dropdown-item">Sign Up</a>
                  <a href="f" class="dropdown-item">My Profile</a>
                  <a href="f" class="dropdown-item">Settings</a>
                  <a href="f" class="dropdown-item">Log Out</a>
                </div>
              </div>
            </div>
        </nav>
        <!-- <app-products></app-products> -->
        <router-outlet></router-outlet>
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
              <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                  &copy; <a href="#">PC TH</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                  <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                  Designed By <a href="https://htmlcodex.com">PC TH</a>
                  <!-- </br> -->
                  Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">Admin Hieu</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    
</div>