<main>

    <!-- start error-404-section -->
    <section class="error-404-section section_space">
        <div class="container">
            <div class="error-404-area">
                <h2>404</h2>
                <div class="error-message">
                    <h3>Oops! Page Not Found!</h3>
                    <p>We’re sorry but we can’t seem to find the page you requested. This might be because you have
                    typed the web address incorrectly.</p>
                    <a href="" [routerLink]="['/']" class="btn btn_primary">Back to home</a>
                </div>
            </div>
        </div>
    </section>
   
</main>